body {
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.foto {
    display: flex;
    width: 1000px;
    height: 600px;
    background-image: url(./novis.png);
    background-size: cover;
    text-align: center;    
    padding: 20px;
}

span {
    background-image: url("https://cdn4.iconfinder.com/data/icons/set-1/32/__1-512.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animate 6s linear;

}

@keyframes animate{
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0deg);
    }
    100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}

